<h1>Listing authors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Posts</th>
    <th>Average Rating</th>
    <th>First Post</th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= link_to h (author.name), "/authors/#{author.name}" %></td>
    <td><%= author.posts.count %></td>
    <td><%= author.average_rating %></td>
    <td><%= author.posts.first.body %></td>
  </tr>
<% end %>
</table>


