<table>
  <tr>
    <th>Name</th>
    <th>Number of Posts</th>
    <th>Average Rating</th>
    <th>First Post</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to h (post.author.name), "/posts/#{post.feed_id}/#{post.author_id}" %></td> 
    <td><%=h post.author.posts.count %></td>
    <td><%=h post.author.average_rating %></td>
    <td><%=h post.body %></td>
  </tr>
<% end %>
</table>


