<%-# /post/feed-%>

<table>
  <tr>
    <th>Author</th>
    <th>Posts</th>
    <th>Average Rating<th>
  </tr>


<% @post_authors.keys.each do |author| %>
  <% for post in @post_authors[author] %>
    <% count = 0 %>
    <% post.author.posts.each do |countPost|
         if countPost.feed_id == post.feed_id
           count += 1
         end
       end
     %> 
  <% end %>
    <tr>
      <td><%= link_to h (post.author.name), "/posts/#{post.feed_id}/#{post.author.id}" %></td> 
      <td><%=h count %></td>
      <td><%=h post.author.average_rating %></td>
    </tr>
<% end %>
</table>


